//////////////////////////////
// TYPOGRAPHY
//////////////////////////////

$font-size: 16px;
$line-height: 30px;

// font-family
@mixin font-sans-serif{
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic Pro', 'メイリオ', 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', sans-serif;
}


//////////////////////////////
// COLORS
//////////////////////////////

$text-black: #000;
$black: #000;
$gray: #808080;
$white: #fff;

@mixin link-black-to-gray ($important: false){
  @if $important == 'important' or $important == true {
    $important: ' !important';
  } @else {
    $important: '';
  }
  color: $text-black;
  text-decoration: underline;

  &:visited{
    color: $text-black;
  }
  &:hover, &.hover, &:active, &.active{
    color: $gray;
  }
}


//////////////////////////////
// UTILS
//////////////////////////////

// override compass's clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after { clear: both; }
  & { zoom: 1; }
}

.clearfix {
  @include clearfix;
}

// border box-sizing
@mixin border-box {
  @include box-sizing(border-box);
}

@mixin content-box {
  @include box-sizing(content-box);
}


//////////////////////////////
// RESPONSIVE LAYOUT
//////////////////////////////

// responsive mixins
$break-small: 480px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == smartphone {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == pc {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}
